language: python
sudo: false
cache:
  directories:
    - eggs
python:
- 2.7
- 3.6
- 3.7
install:
- pip install zc.buildout
- buildout -N -t 3 versions:robotframework=$RF
script: bin/test
env:
- RF=2.8.7
- RF=2.9.2
- RF=3.0.4
- RF=3.1.2
- RF=3.2a1
- RF=
jobs:
  exclude:
  - python: 3.6
    env: RF=2.8.7
  - python: 3.6
    env: RF=2.9.2
  - python: 3.7
    env: RF=2.8.7
  - python: 3.7
    env: RF=2.9.2
